<h1>Levels</h1>
<p>
  <a href="<%= newAdminLevelsPath() %>" class="btn btn-primary">Create New Level</a>
</p>

<table class="table table-striped">
  <thead>
  <th>Name</th>
    <th>Description</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (level) in levels { %>
      <tr>
      <td><%= level.Name %></td>
        <td><%= level.Description %></td>
        <td>
          <div class="pull-right">
            <a href="<%= adminLevelPath({ admin_level_id: level.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= editAdminLevelPath({ admin_level_id: level.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= adminLevelPath({ admin_level_id: level.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>
